html {
  background-color: black;
  color: white;
  font-family: sans-serif;
}

header {
  display: flex;
  align-items: center;
  padding: 15px 50px;
  margin: 0;
  height: 50px;
}

h2, h3 {
  padding: 10px 20px;
  margin: 5px;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

h3 {
  font-size: 1.2rem;
  font-weight: 500;
}

header img {
  height: 50%;
  width: auto;
  margin-right: 15px;
}

#banner {
  display: flex;
  align-items: center;
  background-image: url('../images/moto.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
}

#banner__info {
  background-color: black;
  color: white;
  height: 150px;
  width: 300px;
  margin-left: 50px;
}

nav {
  display: inline-flex;
  justify-content: center;
  width: 100%;
  background-color: rgb(172, 0, 0);
  color: white;
}

nav ul {
  display: inline-block;
  list-style: none;
}

nav li {
  display: inline-block;
  padding: 15px 50px;
}

main {
  background-color: white;
  color: black;
}

footer {
  height: 10%;
  padding: 10% 50px;
}

#grid-product {
  display: flex;
  justify-content: center;
}

.product {
  display: inline-block;
  margin: 25px;
}

.product__image {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  width: 250px;
  height: 250px;
}

.product__image img {
  flex: 0 1 80%;
  height: auto;
  margin: 0;
}

.product p {
  background-color: black;
  color: white;
  text-align: center;
  width: 100%;
  padding: 15px 0;
}

.info {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
  margin: 0;
}

.info__block {
  flex: 0 1 200px;
  background-color: black;
  color: white;
}

.info__block p {
  background-color: white;
  color: black;
  width: 100%;
}
