html {
  background-color: black;
  color: white;
  font-family: sans-serif;
}

header {
  display: flex;
  align-items: center;
  padding: 15px 50px;
  margin: 0;
  height: 50px;
}

h2, h3 {
  padding: 10px 20px;
  margin: 5px;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

h3 {
  font-size: 1.2rem;
  font-weight: 500;
}

header img {
  height: 50%;
  width: auto;
  margin-right: 15px;
}

#banner {
  display: flex;
  align-items: center;
  background-image: url('../images/moto.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
}

#banner__info {
  background-color: black;
  color: white;
  height: 150px;
  width: 300px;
  margin-left: 50px;
}

nav {
  background-color: rgb(172, 0, 0);
  color: white;
}

nav ul {
  list-style: none;
}

nav li {
  display: inline-block;
  padding: 15px 50px;
}

main {
  background-color: white;
  color: black;
}

footer {
  padding: 10% 15%;
  margin: 0;
}

#grid-product {
  display: flex;
  justify-content: center;
}

#grid-product p {
  background-color: black;
  color: white;
}

.product {
  border: 2px solid black;
  margin: 15px;
}

.product img {
  width: 200px;
  height: auto;
}

.info-block {
  display: inline-block;
}

.info-block__header {
  background-color: black;
  color: white;
}
